<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "tags-head.html" . }}
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
  {{ partial "tags-body.html" . }}
  {{ partial "navbar.html" . }}

    {{ block "main" . }}

    {{ end }}

  {{ if .Site.Params.footer }}
  {{ partial "footer.html" . }}
  {{ end }}

  {{ if .Site.Params.sidebar }}
  {{ partial "sidebar.html" . }}
  {{ end }}
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>
  {{ partial "javascript.html" . }}
  </body>
</html>
