{{- if .anchor }}
<a id="{{ .anchor }}"></a>
{{- end }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ .title }}
        </h1>
        {{ with .subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . | markdownify }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ .buttonLink }}">
            {{ .buttonText }}
          </a>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" .image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>